src/main/mule/old.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f581e530-f90e-4bd2-a8cc-55de0cac19a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="oldFlow" doc:id="64a2cbe8-4a9e-438e-b8ac-ed807173b85a" >
		<http:listener doc:name="Listener" doc:id="28a226ad-c81b-40f0-8b18-827f97e8ccb8" config-ref="HTTP_Listener_config" path="/123"/>
		<logger level="INFO" doc:name="Logger" doc:id="03de4e4b-3987-468f-8c85-617bc9867530" message="run"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="31cda25e-bd9a-425c-a840-4fafd438e28f" />
	</flow>
</mule>
